.dot {
  height: 8vh;
  width: 8vh;
  background-color: #b8b2a4;
  border-radius: 50%;
  display: flex;
  /* opacity: 50%; */
}

.pupil {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  z-index: 1;
  opacity: 60%;
}

.left-eye {
  right: 50%;
}

.right-eye {
  left: 50%;
}

.transform-center {
  position: absolute;
  transform: translate(-50%, -50%);
}
